.reveal {
  font-size: 48px;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: #0060B0;
  text-transform: none;
}

.reveal h1 {
  font-size: 250%;
}

.reveal h2 {
  font-size: 180%;
}

.reveal h3 {
  font-size: 150%;
}

.reveal h4 {
  font-size: 120%;
}

reveal pre code {
  max-height: none;
  max-height: 100%;
}
